body{
    background-color: #FF2D95 ;
}
h1{        
    font-size: 69px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
        color: #FFFFFF;  
}
h2{
    display: flex;
    padding: 4%;
    font-size: 40px;
    color: #FF2D95;
    background: #FFFFFF;
    text-shadow: 1px 1px 0 #3b3b3b, 2px 2px 0 #3b3b3b;
    background: #FFFFFF;
}
#bfegf{
 display: flex;
 justify-content: center;  
 
    height: 300px;
}